<div id="container">
  <app-header></app-header>
  <div class="border"></div>
  <div class="intro">
    <h1 class="title">&nbsp; &nbsp;Smart Parking Car System</h1>
  </div>
  <div class="wrapper">
    <div class="pikachoose">
      <!-- <ul id="pikame">
                <li>
                    <a href=""><img src="./../../assets/images/home/1.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="./../../assets/images/home/2.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="./../../assets/images/home/3.png" alt="" /></a>
                </li>
                <li>
                    <a href=""><img src="./../../assets/images/home/4.png" alt="" /></a>
                </li>
            </ul> -->

      <img src="./../../assets/images/home/1.png" alt="" />
    </div>

    <br />
    <br />
    <div class="border2"></div>
    <br />
  </div>
  <app-footer></app-footer>
</div>
